@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme='dark'] {
  --color-background: #050416;
  --color-primary: #00bcd4;
  --color-primary-alt: #00acc1;
  --color-secondary: #ffc107;
  --color-secondary-alt: #ffb300;
  --color-tertiary: #ff5722;
  --color-tertiary-alt: #ff5722;
  --color-surface: #141221;
  --color-error: #f44336;
  --color-on-primary: #ffffff;
  --color-on-secondary: #000000;
  --color-on-tertiary: #000000;
  --color-on-background: #fff;
  --color-on-surface: #fff;
  --color-on-error: #fff;
  --color-dimmer: #464646b5;
}

[data-theme='light'] {
  --color-background: #fafafa;
  --color-primary: #00b0c0;
  --color-primary-alt: #028aa5;
  --color-secondary: #991199;
  --color-secondary-alt: #660159;
  --color-tertiary: #ee4917;
  --color-tertiary-alt: #d33d0f;
  --color-surface: #f3f5ec;
  --color-error: #f44034;
  --color-on-primary: #fff;
  --color-on-secondary: #050416;
  --color-on-tertiary: #050416;
  --color-on-background: #050416;
  --color-on-surface: #050416;
  --color-on-error: #050416;
  --color-dimmer: #3a3a3abc;
}

html,
body {
  @apply bg-background text-on-background;
  transition: background-color 0.3s ease-in-out;
}

a, a:visited {
  @apply text-secondary no-underline;
  text-decoration: none;
}
a:hover {
  @apply text-secondary-alt underline;
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
h5 {
  @apply text-lg font-bold;
}
h6 {
  @apply text-base font-bold;
}

small {
  @apply text-sm;
}

::-moz-selection { /* Code for Firefox */
  @apply text-on-primary bg-primary;
}

::selection {
  @apply text-on-primary bg-primary;
}
