@import "tailwindcss";
@import "./themes/index.css";

html,
body {
  @apply bg-background text-foreground;
  transition: background-color 0.3s ease-in-out;
}

a:not([data-slot="button"]):not(.link-as-inherit),
a:not([data-slot="button"]):not(.link-as-inherit):visited {
  @apply text-primary no-underline;
  text-decoration: none;
}
a:not([data-slot="button"]):not(.link-as-inherit):hover {
  @apply text-primary-alt;
}
a.link-as-inherit,
a.link-as-inherit:visited {
  color: inherit;
}

a.link-as-inherit.hover-text-primary:hover {
  @apply text-primary;
}

h1:not([class*="text-"]) {
  @apply text-4xl font-semibold;
}
h2:not([class*="text-"]) {
  @apply text-3xl font-semibold;
}
h3:not([class*="text-"]) {
  @apply text-2xl font-semibold;
}
h4:not([class*="text-"]) {
  @apply text-xl font-semibold;
}
h5:not([class*="text-"]) {
  @apply text-lg font-semibold;
}
h6:not([class*="text-"]) {
  @apply text-base font-semibold;
}

small {
  @apply text-sm;
}

::-moz-selection {
  /* Code for Firefox */
  @apply text-tertiary-foreground bg-tertiary;
}

::selection {
  @apply text-tertiary-foreground bg-tertiary;
}

mark {
  @apply text-tertiary-foreground bg-tertiary;
}
